<footer class="container-fluid mt-2 py-2 bg-body fixed-bottom mi-footer">
  <div class="container mi-footer__container">
    <div class="row text-center text-md-start align-items-center">
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <img class="mi-footer__logof" src="assets/images/logo-oz.png" alt="Logo" class="img-fluid">
      </div>
      <div class="col-12 col-md-4 mb-3 mb-md-0 mi-footer__menu">
        <ul class="list-inline m-0 p-0">
          <li class="list-inline-item mx-2"><a href="ponentes.html" class="text-decoration-none text-dark">Ponentes</a></li>
          <li class="list-inline-item mx-2"><a href="contenido.html" class="text-decoration-none text-dark">Contenido</a></li>
          <li class="list-inline-item mx-2"><a href="participa.html" class="text-decoration-none text-dark">Participa</a></li>
        </ul>
      </div>
        <div class="col-12 col-md-4 mi-footer__iconos">
          <a href="#"><i class="fab fa-facebook fa-lg mx-2 mi-footer__iconos--verdes" ></i></a>
          <a href="#"><i class="fab fa-x-twitter fa-lg mx-2 mi-footer__iconos--verdes"></i></a>
          <a href="#"><i class="fab fa-instagram fa-lg mx-2 mi-footer__iconos--verdes"></i></a>
        </div>
        </div>
  </div>
</footer>
  
