
<header class="mi-header container-fluid mt-1 bg-new-grey">
    <nav class="mi-header__nav navbar navbar-expand-lg">
      <div class="container d-flex mi-header__container">
        <a class="navbar-brand" href="index.html">
          <img class="mi-header__logo" src="assets/images/logo-oz.png" alt="logo ayto. OZ">
        </a>
        <span class="navbar-text mx-auto mi-header__mispan mi-header__mispan--bold">La economía circular</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse mi-header__menu" id="mynavbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item fw-semibold mi-header__item">
              <a class="nav-link" href="ponentes.html">Ponentes</a>
            </li>
            <li class="nav-item fw-semibold mi-header__item">
              <a class="nav-link" href="contenido.html">Contenido</a>
            </li>
            <li class="nav-item fw-semibold mi-header__item">
              <a class="nav-link" href="participa.html">Participa</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
  